build/

*.pdf
*.root
*.deleteMe
*.pyc

.gedit-save-JEGENZ
.goutputstream-XET5SZ
.logLikelihood.cc.swp
DDDDDDDDD_bgFitter.cxx
Dnine_bg.cxx
FindNlopt.cmake
FindROOT.cmake
KKKKKKKKK.cxx
ampl.py
analyze_fixed_fit.py
biggestVec.dat
binaryRW.cxx
checkHistogramConsistency.py
checkResultFile.py
clearFitResults.py
dalitz.py
eigenvectors.gnu
eigenvectors2.gnu
freeDdecayBinnings.py
integralEVoverBinning.dat
integralPlots.py
linear_demoposition.py
load_result_file.py
lookAtIntegrals.py
makeBinningPlot.py
makeDalitz.py
makeDalitzPdf.py
makeIntegralBinningPlot.py
makePolynomialONB.py
make_4pi_phase_space.py
showWaveParameters.py
smallVectors
summarizeLikelihood.py
testFile.4pps
theWhole.py
vals.dat
widthVsZeroModeEigenvalue

